$component: ".app-cars-table";

#{$component} {
  &__content {
    padding: 10px 60px;

    &__add-button {
      margin: 20px 0;
    }

    &__spinner-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 16%;
  cursor: pointer;
}
